<div class="toast custom_toast  " role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="arrow-up arrow-warning"></div>
    <div class="w-100 toast-capper bg-warning"></div>
    <div class="toast-header bg-white text-dark ">
      
      <strong class="me-auto">Warning</strong>
      
      <button type="button" class="ml-2 close text-dark btn-close" data-bs-dismiss="toast" aria-label="Close">
       {% comment %}  <span aria-hidden="true"> &times; </span>   {% endcomment %}   
     </button>
    </div>
    <div class="toast-body bg-white ">
      {{ message }}
    </div>
  </div>